

    <%= render 'shared/navbar' %>

<div class="banner"><h1>COCKTAILS!</h1></div>




  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photos.first.key %>)">
          <%= link_to cocktail_path(cocktail) do %>
        <div class="name"> <%= cocktail.name %> </div>
            <% end %>
          </div>
    <% end %>
  </div>



<!-- app/views/articles/index.html.erb -->

<!-- https://res.cloudinary.com/christal-empire/image/upload/v1582282784/n3ksm7m2f1jlw4yhfukg.jpg -->

