<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand test" do %>
    <%= image_tag "https://res.cloudinary.com/christal-empire/image/upload/v1582300130/molotov2_gjaekx.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "/cocktails", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Make new Cocktail!", "/cocktails/new", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
