.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #000;
  transition: background 0.3s ease;
  // border: 1px solid #888;
  margin: 20px;

}

a:hover {
  text-decoration: none;
}

.btn-gradient:hover {
  // background: linear-gradient(#147EFF, #0F67DA);

  color: white;
}
